body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    min-height: 100%;
}

.all-projects {
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    margin-left: 9%;
}

.project {
    width: 300px;
    height: 275px;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 25px;
    box-shadow: 2px 2px 2px 2px #eeeeee;
    float: left;
}

.project-title {
    font-weight: bold;
}

.project-title > a {
    text-decoration: none;
    color: black;
}

.project-desc {
    font-weight: bold;
    font-size: 1.2em;
}

.project-short-details {
    padding-top: 10px;
}

.project-details {
    width: 80%;
    height: 80%;
    box-shadow: 2px 2px 2px 2px #eeeeee;
}